.gradients-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.single-gradient {
  width: 12%;
  height: 70vh;
  margin: 2%;
  margin-bottom: 10vh;
}

.gradient-firstcolor {
  width: auto;
  height: 10vh;
  border-radius: 10px;
  margin-bottom: 2vh;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.gradient-firstcolor:hover {
  transform: scale(1.1);
}

.linear-gradient {
  height: 40vh;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.linear-gradient:hover {
  transform: scale(1.1);
}

.gradient-secondcolor {
  margin-top: 2vh;
  height: 10vh;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.gradient-secondcolor:hover {
  transform: scale(1.1);
}

.transparent {
  font-size: 0px;
}

@media screen and (max-width: 600px) {
  .single-gradient {
    width: 45%;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .single-gradient {
    width: 29%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .single-gradient {
    width: 21%;
  }
}

@media screen and (min-width: 992px) {
  .single-gradient {
    width: 12%;
  }
}
