.subheading-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.subheading-top-title {
  margin-left: 2%;
  font-size: 25px;
  color: #ccc;
  font-family: "Montserrat", sans-serif;
}

.subheading-top-btn {
  margin-right: 2%;
}

.subheading-top-btn > button {
  width: 100%;
  padding: 12px 21px;
  border-radius: 14px;
  border: none;
  font-size: 22px;
  font-weight: bold;
  color: #cccccc;
  background-image: linear-gradient(to right, #3944f7, #1c8d73);
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
