.subheading-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.subheading-top-title {
  margin-left: 2%;
  font-size: 25px;
  color: #ccc;
  font-family: "Montserrat", sans-serif;
}

.subheading-top-btn {
  margin-right: 2%;
}

.subheading-top-btn > button {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: none;
  font-size: 19px;
  font-weight: bold;
}
